 @font-face {
     font-family: Futura-Normal;
     /* Гарнитура шрифта */
     src: url(../fonts/futuran.ttf);
     /* Путь к файлу со шрифтом */
 }

 @font-face {
     font-family: Proxima;
     /* Гарнитура шрифта */
     src: url(../fonts/Proxima.otf);
     /* Путь к файлу со шрифтом */
 }

 @font-face {
     font-family: ProximaBold;
     /* Гарнитура шрифта */
     src: url(../fonts/ProximaBold.otf);
     /* Путь к файлу со шрифтом */
 }

 @font-face {
     font-family: Futura-Normal;
     /* Гарнитура шрифта */
     src: url(../fonts/ProximaThin.otf);
     /* Путь к файлу со шрифтом */
 }

 /* Eric Meyer's CSS Reset */

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }

 body {
     line-height: 1;
 }

 ol,
 ul {
     list-style: none;
 }

 blockquote,
 q {
     quotes: none;
 }

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /* End of Eric Meyer's CSS Reset */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 nav,
 section,
 summary {
     display: block;
 }

 /*Danger */

 .fullpage_first .fp-scroller {
     height: 100%;
 }


 body {
     font-family: Futura-Normal;
 }

 .wrapper {
     width: 100%;
     min-width: 1000px;
 }


 #preloader {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
 }

 #preloader_background {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: #272822;
 }

 #preloader_img {
     width: 70%;
     top: 42.9%;
     position: absolute;
     left: 15%;
 }

 #preloader_img img {
     display: block;
     float: left;
     position: relative;
     width: 100%;
 }

 .fullpage_first {
     background-image: url(../img/background_1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .fullpage_first .container-fluid {
     height: 100%;
 }

 .fullpage_first .first {
     height: 73px;
     display: flex;
     margin-top: 32px;
     align-items: center;
 }

 .fullpage_first .first .logo_hrep {
     opacity: 0;
 }

 .fullpage_first .second {
     text-align: center;
     height: 100%;
     display: flex;
     margin-top: -30px;
     align-items: center;
 }

 h1.main {
     font-family: Garamond;
     font-size: 9rem;
     color: white;
 }

 h3.main {
     font-family: Proxima;
     font-size: 4rem;
     color: #bfe5e2;
     letter-spacing: 5px;
 }

 @media (min-width:1200px) {
     h3.main {
         font-size: 2rem;
     }
 }

 @media (min-width: 1201px) and (max-width: 1746px) {
     h1.main {
         font-family: Garamond;
         font-size: 8rem;
         color: white;
     }
 }

 @media (min-width: 981px) and (max-width: 1200px) {
     h1.main {
         font-family: Garamond;
         font-size: 8rem;
         color: white;
     }
 }

 @media (min-width: 769px) and (max-width:980px) {
     h1.main {
         font-family: Garamond;
         font-size: 5rem;
         color: white;
     }
 }

 @media (max-width: 768px) {
     h1.main {
         font-family: Garamond;
         font-size: 5rem;
         color: white;
     }
 }

 .fullpage_first .first .btn {
     padding-bottom: 0;
     padding-top: 0;
 }

 .centered {
     text-align: center;
 }

 .fullpage_first .contact a {
     border: 3px solid #fe6845;
     font-family: Futura-Normal;
     font-size: 4rem;
     color: #fe6845;
     border-radius: 0;
 }

 .fullpage_first .contact a:hover {
     color: #fe6845;
 }




 /*Fullpage_second*/

 .fullpage_second {
     background: #272822;
 }

 .fullpage_second .fullpage_second_header {
     margin-top: 25px;
     margin-bottom: 50px;
 }

 .fullpage_second h1.main {
     font-family: Proxima;
     text-transform: uppercase;
     color: #bfe5e2;
     letter-spacing: 7px;
 }

 .fullpage_second h2.main {
     font-family: Proxima;
     text-transform: uppercase;
     color: #bfe5e2;
     font-size: 41pt;
 }

 .fullpage_second img.icon {
     width: 123px;
 }

 .fullpage_second img.more {
     width: 311px;
 }

 .fullpage_second .fullpage_second_row_second {
     margin-top: 115px;
 }

 .fullpage_second .img-responsive {
     margin: auto;
 }

 .fullpage_second .fullpage_second_service {
     cursor: pointer;
 }

 @media (max-width: 1200px) {
     .fullpage_second h2.main {
         font-size: 30pt;
     }
 }

 @media (max-width: 991px) {
     .fullpage_second h2.main {
         font-size: 50pt;
     }
     .fullpage_second .fullpage_second_row_second {
         margin-top: 0px;
     }
     .fullpage_second .fullpage_second_service {
         margin-bottom: 60px;
     }
 }

 @media (max-height: 740px) {
     .fullpage_second .fullpage_second_row_second {
         margin-top: 30px;
     }
     .fullpage_second h2.main {
         font-size: 30pt;
     }
 }

 @media (max-height: 648px) and (min-width: 992px) {
     .fullpage_second .fullpage_second_header {
         margin-bottom: 0px;
     }
 }


 /*Hidden Blocks in 2-nd Slider*/

 .service {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     background: #272822;
     display: none;
 }

 .service .row {
     display: flex;
     align-items: center;
     margin-top: 0px;
 }

 .service .row img {
     cursor: pointer;
 }

 .fullpage_second .service h1.main {
     font-size: 7rem;
 }
.fullpage_second .row.service_back{
    position:absolute;
    top:0;
    height: 100%;
    width:100%;
}
.fullpage_second .row.service_back > div {
    cursor: pointer;
    height:100%;
}
 /* Header
-----------------------------------------------------------------------------*/

 .header {
     height: 150px;
     background: #FFE680;
 }


 /* Middle
-----------------------------------------------------------------------------*/

 .content {}




 /* Footer
-----------------------------------------------------------------------------*/

 .footer {
     height: 100px;
     background: #BFF08E;
 }
